<div class="container">
  <div class="title">
    <h1>Directives</h1>
    <button class="btn" (click)="changeStatus()">Change status</button>
  </div>
  <p class="notes">*ngIf="isAdmin"</p>
  <div class="greeting admin" *ngIf="isAdmin">
    <h2>Hello, Admin!</h2>
    <p>I'm glad to see you</p>
  </div>
  <div class="greeting user" *ngIf="!isAdmin">
    <h2>Hello, User!</h2>
    <p>You are welcome!</p>
  </div>

  <section>
    <div class="title">
      <h2>Users</h2>
      <p class="notes">*ngFor</p>
    </div>
    <ul class="users">
      <li *ngFor="let user of users; index as i">
        <article class="users__item">
          <p>№ {{ i + 1 }}</p>
          <p><b>Name:</b> {{ user.userName }}</p>
          <p><b>Age:</b> {{ user.age }}</p>
        </article>
      </li>
    </ul>
  </section>

  <section>
    <div class="title">
      <h2>Names</h2>
      <p class="notes">ng-container</p>
    </div>
    <ul class="names">
      <ng-container *ngFor="let user of users; index as i">
        <li>{{ user.userName }}</li>
      </ng-container>
    </ul>
  </section>

  <section>
    <div class="title">
      <h2>Switch Car</h2>
      <p class="notes">[ngSwitch]</p>
    </div>
    <div class="car" [ngSwitch]="car">
      <p *ngSwitchCase="'Ford'">It's Ford Case</p>
      <p *ngSwitchCase="'Audi'">It's Audi Case</p>
      <p *ngSwitchCase="'Honda'">It's Honda Case</p>
      <p *ngSwitchCase="'Mazda'">It's Mazda Case</p>
      <p *ngSwitchDefault>It's Default Case</p>
    </div>
  </section>

  <section>
    <div class="title">
      <h2>Styles</h2>
      <p class="notes">[ngStyle], [ngClass]</p>
    </div>
    <p [ngStyle]="elementStyle">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aperiam
      accusamus aliquid optio, nihil ab! Hic corporis nobis maxime libero?
    </p>
    <p [ngStyle]="{ color: 5 > 10 ? 'green' : 'blue', opacity: 0.3 }">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aperiam
      accusamus aliquid optio, nihil ab! Hic corporis nobis maxime libero?
    </p>
    <p [ngClass]="arrayOfClasses">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aperiam
      accusamus aliquid optio, nihil ab! Hic corporis nobis maxime libero?
    </p>
    <p [ngClass]="{ true: isAdmin, false: !isAdmin }">
      Depends on the value of isAdmin
    </p>
    <p [ngClass]="isAdmin ? 'true' : 'false'">
      Also depends on the value of isAdmin
    </p>
  </section>

  <section>
    <div class="title">
      <h2>Pipes</h2>
      <p class="notes">date, uppercase, lowercase, slice</p>
    </div>
    <p class="pipe-cotent">
      Current date is: <span>{{ currentDate }}</span>
    </p>
    <p class="pipe-cotent">
      Filtered date with pipe "date" is:
      <span>{{ currentDate | date : "shortDate" }}</span>
    </p>
    <p class="pipe-cotent">
      Uppercase: <span>{{ "hello world" | uppercase }}</span>
    </p>
    <p class="pipe-cotent">
      Lowercase: <span>{{ "HELLO WORLD" | lowercase }}</span>
    </p>
    <div class="pipe-cotent">
      <p>Slice pipe:</p>
      <ul class="names">
        <ng-container *ngFor="let user of users | slice : 0 : 1">
          <li>{{ user.userName }}</li>
        </ng-container>
      </ul>
    </div>
  </section>
</div>
